.header {
    background: rgba(175, 168, 168, 0.47);
    border: none;
    margin: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 0;
}

.header ul {
    margin: 0;
    height: 35px;
}

.list li {
    display: inline-block;
}

.list li a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("images/pattern.png");
    background-size: 100%
}

#footer {
    background: rgba(175, 168, 168, 0.47);
    border: none;
    opacity: 0.7;
    margin: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.video {
    position:absolute; top:140px; left:30px
}

.text {
    position: absolute; top:140px; right: 30px;
}